@tailwind components;
@tailwind base;

@layer components {

    .base-component {
        @apply lg-box w-11/12 md:w-2/3 px-2 py-5 mx-auto my-10 md:my-16;
    }

    .h-stack {
        @apply flex flex-row justify-start items-center;
    }

    .v-stack {
        @apply flex flex-col justify-start items-center;
    }

    .flex-grid {
        @apply flex flex-row flex-wrap justify-evenly items-center;
    }
}

@layer base {
    .sm-box {
        @apply drop-shadow-md p-2 rounded-sm;
    }

    .md-box {
        @apply drop-shadow-lg p-4 rounded-md;
    }

    .lg-box {
        @apply drop-shadow-xl p-5 rounded-lg;
    }
}